name: Android APK Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Fix gradlew line endings
        run: sed -i 's/\r$//' gradlew

      - name: Force JAVA visibility
        run: |
          echo "JAVA_HOME = $JAVA_HOME"
          echo "PATH = $PATH"
          export PATH=$JAVA_HOME/bin:$PATH
        shell: bash

      - name: Build APK
        shell: bash
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk-debug
          path: app/build/outputs/apk/debug/*.apk
